body{
    margin: 0;
    text-align: center;
    font-family: 'Charmonman', cursive;
    
}

h1{
    margin: 0 auto 0 auto ;
    font-family: 'Monofett', cursive;
    font-size: 5.625rem;
    margin-top: 50px;
}
h2{
    font-family: 'Charmonman', cursive;
    font-size: 2.5rem;
}
h3{
    font-family: 'Pacifico', cursive;
}
.top-container{
    background-color: paleturquoise;
}
.middle-container{
}
.bottom-container{

}
.bottom-cloud{
    position: absolute;


}
.top-cloud{
    position:
}